<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <%= render 'shared/breadcrumbs', breadcrumbs: @breadcrumbs %>
  
  <div class="bg-white shadow rounded-lg">
    <div class="px-4 py-5 sm:p-6">
      <h2 class="text-lg font-medium text-gray-900 mb-6">카테고리 수정</h2>
      <%= render 'form', room_category: @room_category %>
    </div>
  </div>
</div>