<nav aria-label="breadcrumb" class="mb-3">
  <ol class="breadcrumb">
    <% breadcrumbs.each_with_index do |breadcrumb, index| %>
      <% if index == breadcrumbs.size - 1 %>
        <li class="breadcrumb-item active" aria-current="page">
          <%= breadcrumb[:name] %>
        </li>
      <% else %>
        <li class="breadcrumb-item">
          <%= link_to breadcrumb[:name], breadcrumb[:path] %>
        </li>
      <% end %>
    <% end %>
  </ol>
</nav>