<div class="p-8">
  <h1>Turbo Stream Test</h1>
  
  <div id="test_content">
    <p>Original Content</p>
  </div>
  
  <%= button_to "Test Turbo", 
                test_turbo_admin_approver_groups_path,
                method: :post,
                class: "btn btn-primary" %>
</div>